.choices {
  padding: 15px;
  height: 100%;
}

.choices__title-container {
  text-align: center;
}

.choices__image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 245px);
}

.choices__ingredientes-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.choices__button-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
}

.choices__logo {
  height: 180px;
  width: 180px;
}
